*{
  margin:0;
  padding:0;
  font-family: Arial , cursive;
}
body{
  background-color:#3C486B;
  text-align: center;
}
#announcement{
  color: #ffffc7;
  font-size: 5vmin;
}
.announcement-container{
  height: 110vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  margin-top: 200px;
  margin-bottom:300px;
}
.hide{
  display:none;
}
.new-game{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #5E1675;
  color: #fff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  
}
.gameheading{
  margin-top:20px;
  color:white;
}
.container1{
  height:70vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.container2{
  height:60vmin;
  width:60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box{
  height:18vmin;
  width:18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  font-size: 8vmin;
  color: #f40101;
  background-color: #87C4FF;
  cursor: pointer;
}
.reset-game{
  border:none;
  border-radius: 1rem;
  cursor: pointer;
  font-family: Arial , cursive;
  padding:1rem;
  font-size:1.25rem;
  background-color: #28c0a9b6;
  color:white;
  margin-bottom:120px;
  margin-top:40px;
}
.mainfooter{
  background-color: #2B3499;
  color:white;
  font-family: cursive;
}
#copyright{
  font-size:1em;
  font-weight: 300;
  text-align:start;
  padding-top: 10px;
  padding-bottom: 10px;
}
